Source: ros-kinetic-object-recognition-transparent-objects
Section: misc
Priority: extra
Maintainer: Ilya Lysenkov <ilya.lysenkov@itseez.com>
Build-Depends: debhelper (>= 9.0.0), libproj-dev, ros-kinetic-catkin, ros-kinetic-ecto, ros-kinetic-object-recognition-core, ros-kinetic-pcl-ros
Homepage: http://wg-perception.github.io/transparent_objects
Standards-Version: 3.9.2

Package: ros-kinetic-object-recognition-transparent-objects
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libproj-dev, ros-kinetic-ecto, ros-kinetic-ecto-opencv, ros-kinetic-object-recognition-core, ros-kinetic-pcl-ros
Description: A technique to recognize and estimate poses of transparent objects
